<a href="https://colab.research.google.com/github/chetan-ade/FYP/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
location = '21.238611,73.350000'
filename = location+".csv"
df = pd.read_csv(filename)
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
4286,2020-03-26,37,26,0.0,11.6,1,1,11,07:51 AM,08:30 PM,...,31,14,13,45,0.0,1009,37,10,238,10
4287,2020-03-27,36,26,0.0,10.2,1,1,18,08:24 AM,09:20 PM,...,30,13,39,42,1.5,1012,36,10,206,9
4288,2020-03-28,39,25,0.0,11.6,1,1,25,09:00 AM,10:11 PM,...,32,18,7,28,0.0,1011,39,10,209,12
4289,2020-03-29,40,25,0.0,11.6,1,1,32,09:39 AM,11:04 PM,...,32,16,3,23,0.0,1010,40,10,225,11
4290,2020-03-30,41,28,0.0,11.6,1,1,40,10:22 AM,11:59 PM,...,34,13,3,22,0.0,1009,41,10,227,9

In [4]:
final_df = pd.DataFrame(
    columns=['date', 'direction', 'speed']
)

In [5]:
final_df['date'] = df['date_time']
final_df['direction'] = df['winddirDegree']
final_df['speed'] = df['windspeedKmph']

In [6]:
final_df.to_csv(filename)

In [7]:
for i in range(len(df['winddirDegree'])):
    if df['winddirDegree'][i] >= 337.5 or df['winddirDegree'][i] < 22.5:
        df['winddirDegree'][i] = 'N'
    elif df['winddirDegree'][i] >= 22.5 and df['winddirDegree'][i] < 67.5:
        df['winddirDegree'][i] = 'NE'
    elif df['winddirDegree'][i] >= 67.5 and df['winddirDegree'][i] < 112.5:
        df['winddirDegree'][i] = 'E'
    elif df['winddirDegree'][i] >= 112.5 and df['winddirDegree'][i] < 157.5:
        df['winddirDegree'][i] = 'SE'
    elif df['winddirDegree'][i] >= 157.5 and df['winddirDegree'][i] < 202.5:
        df['winddirDegree'][i] = 'S'
    elif df['winddirDegree'][i] >= 202.5 and df['winddirDegree'][i] < 247.5:
        df['winddirDegree'][i] = 'SW'
    elif df['winddirDegree'][i] >= 247.5 and df['winddirDegree'][i] < 292.5:
        df['winddirDegree'][i] = 'W'
    elif df['winddirDegree'][i] >= 292.5 and df['winddirDegree'][i] < 337.5:
        df['winddirDegree'][i] = 'NW'

In [8]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2008-07-01,27,26,0.0,8.5,1,1,4,03:40 AM,05:47 PM,...,27,27,89,92,6.2,1003,27,10,SW,17
1,2008-07-02,27,26,0.0,8.5,1,1,0,04:44 AM,06:53 PM,...,26,33,95,91,4.6,1004,27,10,SW,21
2,2008-07-03,28,25,0.0,8.5,1,1,0,05:53 AM,07:53 PM,...,27,30,84,91,18.3,1004,28,8,SW,18
3,2008-07-04,29,26,0.0,13.6,1,1,3,07:03 AM,08:45 PM,...,27,27,50,87,4.3,1004,29,10,SW,17
4,2008-07-05,29,26,0.0,9.5,1,1,10,08:09 AM,09:30 PM,...,27,28,71,87,5.2,1003,29,10,SW,18

In [9]:
df['month'] = ''
df['day'] = ''

In [10]:
for i in range(len(df['date_time'])):
    x = df['date_time'][i].split('-')
    df['day'][i] = x[2]
    df['month'][i] = x[1]
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,month,day
0,2008-07-01,27,26,0.0,8.5,1,1,4,03:40 AM,05:47 PM,...,89,92,6.2,1003,27,10,SW,17,07,01
1,2008-07-02,27,26,0.0,8.5,1,1,0,04:44 AM,06:53 PM,...,95,91,4.6,1004,27,10,SW,21,07,02
2,2008-07-03,28,25,0.0,8.5,1,1,0,05:53 AM,07:53 PM,...,84,91,18.3,1004,28,8,SW,18,07,03
3,2008-07-04,29,26,0.0,13.6,1,1,3,07:03 AM,08:45 PM,...,50,87,4.3,1004,29,10,SW,17,07,04
4,2008-07-05,29,26,0.0,9.5,1,1,10,08:09 AM,09:30 PM,...,71,87,5.2,1003,29,10,SW,18,07,05

In [11]:
preprocessed_data = pd.DataFrame(
    columns=['date', 'day', 'month', 'WindDir', 'WindspeedKmph']
)

In [12]:
preprocessed_data['date'] = df['date_time']
preprocessed_data['day'] = df['day']
preprocessed_data['month'] = df['month']
preprocessed_data['WindDir'] = df['winddirDegree']
preprocessed_data['WindspeedKmph'] = df['windspeedKmph']
preprocessed_data.head()

         date day month WindDir  WindspeedKmph
0  2008-07-01  01    07      SW             17
1  2008-07-02  02    07      SW             21
2  2008-07-03  03    07      SW             18
3  2008-07-04  04    07      SW             17
4  2008-07-05  05    07      SW             18

In [13]:
prepro_filename = location+"_preprocessed.csv"
preprocessed_data.to_csv(prepro_filename)