<a href="https://colab.research.google.com/github/chetan-ade/FYP/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import pandas as pd

In [18]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [24]:
df = pd.read_csv('gdrive/My Drive/tarapur.csv')
df.tail()

       date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
4285  2020-03-25        32        26  ...          10            297             11
4286  2020-03-26        31        25  ...          10            257              9
4287  2020-03-27        31        26  ...          10            343             13
4288  2020-03-28        31        24  ...          10            335             18
4289  2020-03-29        32        22  ...          10            345             17

[5 rows x 25 columns]

In [0]:
final_df = pd.DataFrame(
    columns=['date', 'direction', 'speed']
)

In [0]:
final_df['date'] = df['date_time']
final_df['direction'] = df['winddirDegree']
final_df['speed'] = df['windspeedKmph']

In [0]:
final_df.to_csv('gdrive/My Drive/tarapur.csv')

In [28]:
for i in range(len(df['winddirDegree'])):
    if df['winddirDegree'][i] >= 337.5 or df['winddirDegree'][i] < 22.5:
        df['winddirDegree'][i] = 'N'
    elif df['winddirDegree'][i] >= 22.5 and df['winddirDegree'][i] < 67.5:
        df['winddirDegree'][i] = 'NE'
    elif df['winddirDegree'][i] >= 67.5 and df['winddirDegree'][i] < 112.5:
        df['winddirDegree'][i] = 'E'
    elif df['winddirDegree'][i] >= 112.5 and df['winddirDegree'][i] < 157.5:
        df['winddirDegree'][i] = 'SE'
    elif df['winddirDegree'][i] >= 157.5 and df['winddirDegree'][i] < 202.5:
        df['winddirDegree'][i] = 'S'
    elif df['winddirDegree'][i] >= 202.5 and df['winddirDegree'][i] < 247.5:
        df['winddirDegree'][i] = 'SW'
    elif df['winddirDegree'][i] >= 247.5 and df['winddirDegree'][i] < 292.5:
        df['winddirDegree'][i] = 'W'
    elif df['winddirDegree'][i] >= 292.5 and df['winddirDegree'][i] < 337.5:
        df['winddirDegree'][i] = 'NW'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
df.head()

    date_time  maxtempC  mintempC  ...  visibility  winddirDegree  windspeedKmph
0  2008-07-01        27        26  ...           8             SW             25
1  2008-07-02        28        26  ...           9             SW             26
2  2008-07-03        27        26  ...           8             SW             22
3  2008-07-04        27        26  ...           8             SW             22
4  2008-07-05        27        26  ...          10             SW             22

[5 rows x 25 columns]

In [0]:
df['month'] = ''
df['day'] = ''

In [31]:
for i in range(len(df['date_time'])):
    x = df['date_time'][i].split('-')
    df['day'][i] = x[2]
    df['month'][i] = x[1]
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    date_time  maxtempC  mintempC  ...  windspeedKmph  month  day
0  2008-07-01        27        26  ...             25     07   01
1  2008-07-02        28        26  ...             26     07   02
2  2008-07-03        27        26  ...             22     07   03
3  2008-07-04        27        26  ...             22     07   04
4  2008-07-05        27        26  ...             22     07   05

[5 rows x 27 columns]

In [0]:
preprocessed_data = pd.DataFrame(
    columns=['date', 'day', 'month', 'WindDir', 'WindspeedKmph']
)

In [33]:
preprocessed_data['date'] = df['date_time']
preprocessed_data['day'] = df['day']
preprocessed_data['month'] = df['month']
preprocessed_data['WindDir'] = df['winddirDegree']
preprocessed_data['WindspeedKmph'] = df['windspeedKmph']
preprocessed_data.head()

         date day month WindDir  WindspeedKmph
0  2008-07-01  01    07      SW             25
1  2008-07-02  02    07      SW             26
2  2008-07-03  03    07      SW             22
3  2008-07-04  04    07      SW             22
4  2008-07-05  05    07      SW             22

In [0]:
preprocessed_data.to_csv('gdrive/My Drive/tarapur_preprocessed.csv')